<!-- Container -->
<div class="page-clue">
	<div class="page-clue-container">
		
		<!-- Text -->
		<div class="clue-text">
			<h2>{{actor}}</h2>
			<h1>{{name}}</h1>
			<p>{{text}}</p>
			<a href="#" class="btn">Continuer</a>
		</div>

		<!-- Photo -->
		<img class="clue-photo" src="../img/character/{{photo}}" alt="">

	</div>
</div>