<header class="top">
  <div class="logo">
    <h2>Daredevil - The Experiment</h2>
  </div>
  
  <div class="street">
    <i class="pin"></i>
    <span>26th - New York</span>
  </div>
</header>

<div class="cadre-content">
  <h3>The experiment</h3>
  <h2>How to <span>play</span></h2>

  <div class="choices">
    <div class="choice" data-help="webcam">
      <figure>
        <img src="" alt="">
      </figure>
      <p>Use webcam</p>
    </div>
    <div class="choice" data-help="keyboard">
      <figure>
        <img src="" alt="">
      </figure>
      <p>Use keyboard</p>
    </div>
  </div>
  <div class="choices-help">
    <p id="default" class="show">
      Here your make the choice for control the experiment.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nihil quaerat magni, assumenda labore autem possimus eligendi nostrum recusandae ratione.
    </p>
    <p id="keyboard">Your control the experiment thanks to the keyboard. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat corrupti impedit, dolore voluptates esse aspernatur eos illum nemo unde.</p>
    <p id="webcam">Your control the experiment thanks to the webcam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat corrupti impedit, dolore voluptates esse aspernatur eos illum nemo unde.</p>
  </div>
</div>