{{!-- <header class="top"> --}}
  {{!-- <div class="street">
    <i class="pin"></i>
    <span>26th - New York</span>
  </div> --}}
{{!-- </header> --}}

{{!-- <div class="container-content">
  <h3>The experiment</h3>
  <h2>How to <span>play</span></h2>

  <div class="choices">
    <div class="choice" data-help="webcam">
      <figure>
        <img src="" alt="">
      </figure>
      <p>Use webcam</p>
    </div>
    <div class="choice" data-help="keyboard">
      <figure>
        <img src="" alt="">
      </figure>
      <p>Use keyboard</p>
    </div>
  </div>
  <div class="choices-help">
    <p id="default" class="show">
      Here your make the choice for control the experiment.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nihil quaerat magni, assumenda labore autem possimus eligendi nostrum recusandae ratione.
    </p>
    <p id="keyboard">Your control the experiment thanks to the keyboard. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat corrupti impedit, dolore voluptates esse aspernatur eos illum nemo unde.</p>
    <p id="webcam">Your control the experiment thanks to the webcam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio quaerat corrupti impedit, dolore voluptates esse aspernatur eos illum nemo unde.</p>
  </div>

  <div id="configuration-btn" class="btn disabled">continue</div>
</div> --}}

<!-- Container -->
<div class="page-tuto">
  <div class="page-tuto-container">
  
    <!-- Title -->
    <div class="tuto-container-title">
      <h2>The experiment</h2>
      <h1>How to <span>play</span></h1>
    </div>

    <!-- Choices -->
    <div class="choices">
      <div class="choice" data-help="webcam">
        <figure>
          <img src="img/webcam.png" alt="">
        </figure>
        <a href="#">Webcam</a>
      </div>
      <div class="choice" data-help="keyboard">
        <figure>
          <img src="img/keyboard.png" alt="">
        </figure>
        <a href="#">Keyboard</a>
      </div>
    </div>

    <!-- Confirm -->
    <div class="confirm">
      <div class="texts">
        <p class="label">Choose the webcam navigation for a better experience. Else, don't worry : you will play with your keyboard.</p>
        <p class="webcam">Turn head to direct you in the right direction: left, right or forward. Just open your eyes to pause the experience.</p>
        <p class="keyboard">Maintain the right, top or left arrow key to direct you. Just use the "Space" key to pause the game.</p>
      </div>
      <a href="#" id="confirm-button" class="btn disabled">Continuer</a>
    </div>

  </div>
</div>