<div class="final-content">
  <h2>Remaining time before season 2</h2>
  <div class="countdown">
    <div class="days">
      <div class="replace">
        <span>0</span>
        <span>0</span>
        <span>0</span>
      </div>
      <h3>Days</h3>
    </div>
    <div class="hours">
      <div class="replace">
        <span>0</span><span>0</span>
      </div>
      <h3>Hours</h3>
    </div>
    <div class="minutes">
      <div class="replace">
        <span>0</span>
        <span>0</span>
      </div>
      <h3>Minutes</h3>
    </div>
    
    <div class="seconds">
      <div class="replace">
        <span>0</span><span>0</span>
      </div>
      <h3>Seconds</h3>
    </div>
  </div>
  
  <div class="social-sharing">
    <a target="_blank" href="https://twitter.com/home?status=Make%20the%20experiment%20of%20Daredevil%20on%20http%3A//theblindexperiment.com%20%23daredevil%20%23netflix" class="twitter"><img src="img/twitter.png" alt="Partagez Twitter"></a> <br>
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=theblindexperiment.com" class="facebook"><img src="img/fb.png" alt="Partagez sur Facebook"></a>
  </div>

  <a href="https://www.netflix.com/fr/title/80018294" target="_blank" class="btn">Watch on Netflix</a>
  <a href="/#/configuration" class="btn">Retry</a>

</div>

<video class="video-final" src="video/intro.mp4" autoplay></video>