<header class="top">
  <div class="logo">
    <h2><i class="fa fa-angle-left"></i> Back home</h2>
  </div>
  
  <div class="street">
    <i class="pin"></i>
    <span>play again</span>
  </div>
</header>

<div class="final-content">
  <h2>Remaining time before season 2</h2>
  <div class="countdown">
    <div class="days">
      <div class="replace">
        <span>0</span>
        <span>0</span>
        <span>0</span>
      </div>
      <h3>Days</h3>
    </div>
    <div class="hours">
      <div class="replace">
        <span>0</span><span>0</span>
      </div>
      <h3>Hours</h3>
    </div>
    <div class="minutes">
      <div class="replace">
        <span>0</span>
        <span>0</span>
      </div>
      <h3>Minutes</h3>
    </div>
    
    <div class="seconds">
      <div class="replace">
        <span>0</span><span>0</span>
      </div>
      <h3>Seconds</h3>
    </div>
  </div>
  
  <div class="social-sharing">
    <a class="btn" target="_blank" href="https://twitter.com/home?status=Make%20the%20experiment%20of%20Daredevil%20on%20http%3A//theblindexperiment.com%20%23daredevil%20%23netflix" class="twitter">Partagez sur Twitter</a> <br>
    <a class="btn" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=theblindexperiment.com" class="facebook"><img src="img/fb.png" alt="Facebook"></a>
  </div>

  <a href="#" class="btn">Watch on Netflix</a>

</div>

<video class="video-final" src="video/intro.mp4" autoplay></video>