<div class="page-finish">
	<img src="../img/{{photo}}" alt="" class="page-finish-photo">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{text}}</p>
	<a href="#" class="btn btn-again">Try again</a>
	<a href="/#/about" class="btn">About S2</a>
</div>