<header class="top">
  <div class="logo">
    <h2>Daredevil - The Experiment</h2>
  </div>
  
  <div class="street">
    <i class="pin"></i>
    <span>26th - New York</span>
  </div>
</header>

<div class="content">
  <h3>Clue</h3>
  <article>
     <h4>Rosario Dawson</h4>
     <h2>Claire Temple</h2>
     <h5>L’infirmière de nuit</h5>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
    eiusmod tempor incididunt ut labore et dolore magna aliqua.  Lorem ipsum dolor sit amet.</p>
    <a href="#" class="continue">Fermez les yeux pour continuer l’expérience <i class="fa fa-angle-right"></i></a>
  </article>
  <img src="img/character/claire.png" alt="">
</div>