<!-- Container -->
<div class="page-tuto">
  <div class="page-tuto-container">
  
    <!-- Title -->
    <div class="tuto-container-title">
      <h2>The experiment</h2>
      <h1>How to <span>play</span></h1>
    </div>

  </div>
</div>