<!-- CONTENT -->
<div class="home-content">
	<img src="img/logo.png" alt="" class="logo-home">
	<p>Embody the superhero Daredevil figure during an amazing immersive sound experimentation.</p>
	<a href="/#/intro" id="btn-start" class="btn">Start</a>
</div>

<!-- FOOTER -->
<footer class="home-footer">
	<img src="img/warning.png" alt="Warning">
	<p>For an optimal experience, please use quality headphones.</p>
</footer>