<div class="open-title">
<img src="img/daredevil.png" alt="" class="logo-home">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<a href="/#/intro" class="btn experiment">start the experiment</a>
</div>
<footer class="footer-home">
<img src="img/warning.png" alt="Warning">
<p>Pour une expérience optimale, il est recommandé delorem ipsum dolores sit amet</p>
</footer>