<!-- Video -->
<video class="video-intro">
	<source src="../video/intro.mp4" type="video/mp4" />
	<source src="../video/intro.ogv" type="video/ogv" />
	<source src="../video/intro.webm" type="video/webm" />
</video>

<!-- Button -->
<a class="skip-btn" href="#">Click to skip the video</a>