<!-- CONTENT -->
<div class="home-content">
  <img src="img/lose.png" alt="" class="logo-home">
  <h1>You lose !</h1>
  <h2>You are still not a super-hero !</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius
mod tempor incididunt ut labo.re et dolore magna aliqua. Ut e
im ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali.</p>
  <a href="/#/intro" id="btn-start" class="btn">try again</a>
</div>