<!-- Titles -->
<div class="page-tuto-titles">
  
  <!-- Step 1 -->
  <div class="tuto-title" data-step="1">
    <h2>The experiment</h2>
    <h1><span>Goal</span></h1>
  </div>

  <!-- Step 2 -->
  <div class="tuto-title" data-step="2">
    <h2>The experiment</h2>
    <h1><span>Play</span></h1>
  </div>

  <!-- Step 3 -->
  <div class="tuto-title" data-step="3">
    <h2>The experiment</h2>
    <h1><span>Controls</span></h1>
  </div>

</div>

<!-- Container -->
<div class="page-tuto-contents">

  <!-- Step 1 -->
  <div class="tuto-content tuto-goal" data-step="1">

    <!-- Illustration -->
    <div class="figure-container">
      <figure>
        <img src="../img/webcam.png" alt="">
      </figure>
    </div>
    
    <!-- Content -->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et nobis error molestias debitis suscipit pariatur rem non cupiditate, voluptatibus excepturi, repudiandae, sequi asperiores. Quisquam provident est distinctio, doloremque, corporis culpa.</p>

    <!-- Controls -->
    <div class="contents-controls">
      <a href="#" class="btn btn-next">Next</a>
      <span class="paginator">
        <span class="current">1</span>
        <span class="total">3</span>
      </span>
    </div>
  </div>
  
  <!-- Step 2 -->
  <div class="tuto-content tuto-choice" data-step="2" data-init="initChoice">

    <!-- Choices -->
    <div class="choices">
      <div class="choice" data-help="webcam">
        <figure>
          <img src="img/webcam.png" alt="">
        </figure>
        <a href="#">Webcam</a>
      </div>
      <div class="choice" data-help="keyboard">
        <figure>
          <img src="img/keyboard.png" alt="">
        </figure>
        <a href="#">Keyboard</a>
      </div>
    </div>

    <!-- Text -->
    <p>Maintain the right, top or left arrow key to direct you. Just use the "Space" key to pause the game.</p>

    <!-- Controls -->
    <div class="contents-controls">
      <a href="#" class="btn btn-next disabled">Next</a>
      <span class="paginator">
        <span class="current">2</span>
        <span class="total">3</span>
      </span>
    </div>

  </div>

  <!-- Step 3 -->
  <div class="tuto-content tuto-commands" data-step="3" data-init="initCommands">

    <!-- Command -->
    <div class="tuto-command">
      <h3>Clues</h3>
      <p>If you lose track of the kidnapper, the sound stops and you can track him using your famous network of friends.</p>
    </div>

    <!-- Controls -->
    <div class="contents-controls">
      <a href="#" class="btn btn-next">Start</a>
      <span class="paginator">
        <span class="current">3</span>
        <span class="total">3</span>
      </span>
    </div>

  </div>

</div>