<!-- Container -->
<div class="page-tuto">
  <div class="page-tuto-container">
  
    <!-- Title -->
    <div class="tuto-container-title">
      <h2>The experiment</h2>
      <h1>Allow <span>webcam</span></h1>
    </div> 

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo dolorum pariatur id autem sit inventore quis non iure fugiat culpa, hic, repudiandae exercitationem dicta, magni, eaque voluptates illum iusto dolorem.</p>
  
    <div id="continue-webcam" class="btn disabled">continue</div>
  </div>
</div>