<!-- CONTENT -->
<div class="home-content">
  <img src="img/perso-seul.png" alt="" class="logo-home">
  <h1>Congrats !</h1>
  <h2>You are finally a super-hero !</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius
mod tempor incididunt ut labo.re et dolore magna aliqua. Ut e
im ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut ali.</p>
  <a href="/#/intro" id="btn-start" class="btn">Tell me more about daredevil</a>
</div>